
.pricing {
  text-align: center;
  padding: 60px 20px;
  background: #e5e7eb;
  max-width: 100%;
  margin: 0 auto;
}

.alert {
  display: inline-block;
  background: #fee2e2;
  color: #b91c1c;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 13px;
  margin-bottom: 10px;
}

.payment {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 50px;
  background: #fef9c3;
  color: #92400e;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 13px;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card.popular {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  color: white;
  transform: scale(1.05);
}

.badge {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: gold;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin: 10px 0;
}

.btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.card.popular .btn {
  background: white;
  color: black;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .popular {
    transform: scale(1);

  }
}